.wholeDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  width: 25rem;
  border: 0.3125rem solid #f9ab00;
  border-radius: 0.625rem;
}

.seat-grid {
  display: grid;
  grid-template-columns: repeat(10,3rem);
  justify-content: center;
  margin-top: 1.25rem;
  padding: 2rem 1rem 1rem 1rem;
}

.seat {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, box-shadow 0.2s;
}
.seat-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.seat-info div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.seat-info img {
  width: 2rem;
  height: 2rem;
}
.seat img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  transition: transform 0.2s;
}

.seat:hover img {
  transform: scale(1.2);
}

.seat.selected img {
  transform: scale(1.3);
}

@media (max-width: 600px) {
  .seat-grid {
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-gap: min(0.25rem, 2vw);
    margin-top: 0.5rem;
    padding: 0.5rem 0.1rem 0.5rem 0.1rem;
  }

  .seat {
    width: 2rem;
    height: 2rem;
  }
  .seat img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .screen-bar {
    width: 98vw;
  }

  hr {
    width: 98vw;
    border-width: 0.15rem;
  }
  .seat-info {
    padding: 0rem 1rem;
  }
}
