.select {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #f9ab00;
  font-size: 1rem;
  background-color: #1a191f;
}

.select:focus {
  outline: none;
  border-color: #5441FA;
}

.time-theater-selector {
  display: flex;
  gap: 1.25rem;
  align-items: flex-start;
  justify-content: center;
}

.time-selector, .theater-selector {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.time-selector label, .theater-selector label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

@media (max-width: 600px) {
  .time-theater-selector {
    gap: 0.75rem;
    align-items: center;
  }
}