body::before {
  content: "";
  position: fixed;
  inset: 0;
  background:
    radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.103) 0%,
      transparent 60%
    ),
    radial-gradient(
      ellipse at center,
      transparent 60%,
      rgba(0, 0, 0, 0.5) 100%
    );
  z-index: 0;
  pointer-events: none;
}
