.MoviePage {
  min-height: 100vh;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 5%, #1a191f 70%),
    url(../assets/blackPanther.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#MoviePageTexts {
  padding: 50px 20px 30px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45vw;
  height: 100vh;
  gap: 20px;
}

button:hover {
  box-shadow: 0 0 15px #f9ab00;
  border-color: #f9ab00;
}
