.btn {
  background-color: #1a191f;
  border: 0.125rem solid #5441FA;
  color: white;
  height: 2.5rem;
  font-size: 1rem;
  padding: 0 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border-radius: 0.625rem;
}

.btn:hover {
  background-color: #5441FA;
  color: #1a191f;
  border:0.125rem solid #5441FA;
  transform: scale(1.1);
  box-shadow: 0 0 0.9375rem #5441FA;
}

.btn.selected {
  background-color: #5441FA;
  color: #1a191f;
  font-weight: bold;
}

.date-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 0;
}

@media (max-width: 600px) {
  .btn {
    height: 2rem;
    font-size: 0.95rem;
    padding: 0.4rem 0.5rem;
  }
  .date-picker {
    gap: 0.4rem;
    padding: 0.4rem 0;
  }
}