.plot-title {
  font-weight: 900;
  font-style: italic;
}

.plot-content {
  padding: 0 1.25rem 1.875rem 2.5rem;
  font-style: italic;
} 

.plot-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 45vw;
}

@media (max-width: 600px) {
  .plot-container {
    width: 100%;
  }
}
