.selected-seat-div {
  display: flex;
  padding: 1.25rem;
  border-radius: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 2.5rem;
}

@media (max-width: 600px) {
  .selected-seat-div {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0.5rem 0.2rem;
    align-items: center;
  }
}
