.small-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A191F;
  border: 0.125rem solid #f9ab00;
  border-radius: 0.3125rem;
  height: 1.875rem;
  padding: 0.3125rem 0.9375rem;
  font-size: 1rem;
  min-width: 4rem;
  max-width: 100%;
  word-break: break-word;
  cursor: pointer;
}

@media (max-width: 600px) {
  .small-btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.95rem;
    line-height: 1.3;
    height: 2.1rem;
    align-items: center;
  }
} 