#MoviePageTexts {
  padding: 6.125rem 1.25rem 1.875rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  transition: transform 0.6s cubic-bezier(0.77,0,0.175,1);
}

@media (max-width: 600px) {
  #MoviePageTexts {
    padding: 2rem 0.5rem 1rem 1rem;
    width: 95vw;
    gap: 0.75rem;
    align-items: center;
    text-align: center;
  }
}

.movie-heading {
  font-weight: 900;
  font-size: 2.5rem;
}

.movie-heading-highlight {
  color: #5441FA;
}

.MoviePage {
  position: relative;
  overflow: hidden;
  transition: transform 0.6s cubic-bezier(0.77,0,0.175,1);
}

.MoviePage.swipe-up #MoviePageTexts {
  transform: translateY(-110%);
}

.MoviePage.swipe-up .detailed-info-ratings {
  top: 0;
}
